html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background-color: $site-bg;
  color: $body-text;
  font-family: $roboto;
  font-size: $base-font-size;
  // background-image: url('../img/zambezi_river.jpg');
  background-image: url('../img/elephants.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  min-height: 100%;
  padding-top: $max-header-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $roboto;
}

img {
  max-width: 100%;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

a {
  color: $primary-color;
}

.main-content {
  position: relative;
  left: 0;
  margin-left: 230px;
  min-height: 100%;
  padding: 10px;
  background: rgba(0,0,0,0.2);

  @include phablet {
    margin-left: 0;
  }
  @include mobile {
    margin-left: 0;
  }
}
