html {
  line-height: $line-height;
}

body {
  background-attachment: fixed;
  background-color: $site-bg;
  background-image: url("../img/elephants.jpg");
  background-repeat: no-repeat;
  color: $body-text;
  font-family: $roboto;
  font-size: $base-font-size;
}

.wrapper {
  min-height: 100%;
  padding-top: $max-header-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $roboto;
}

img {
  max-width: 100%;
}

::-moz-selection {
  background: $selection;
  text-shadow: none;
}

::selection {
  background: $selection;
  text-shadow: none;
}

hr {
  border: 0;
  border-top: 1px solid $gray1;
  display: block;
  margin: 2em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

a {
  color: $primary-color;
}

.main-content {
  background: $main-content-bg;
  left: 0;
  margin-left: 230px;
  min-height: 100%;
  padding: 10px;
  position: relative;
  @include phablet {
    margin-left: 0;
  }
  @include mobile {
    margin-left: 0;
  }
}
