blockquote {
    border-left: 10px solid rgb(2, 117, 216);
    padding: 0.5em 10px;
    font-size: 90%;
    font-weight: 400;
    font-style: italic;
    margin: 1.5em 10px;
    background: rgb(249, 249, 249);
}

.content {
    font-size: 100%;
    padding: 25px 15px;
    text-align: justify;
    font-weight: 300;
    width: 100%;
}
