.proverb-card {
  .card-header {
    color: $primary-color;

    .fa {
      margin-right: 10px;
    }
  }

  .card-block {
    border-bottom: 1px solid darken($site-bg, 10%);
    .card-blockquote {
      > p {
        font-size: $proverb-font-size;
      }
    }
  }

  .card-footer {
    display: flex;

    .tags {
      flex-grow: 1;
    }
    .chip {
      padding: 5px;
      margin: 5px;
      background: $white;
      border-radius: 2px;
      color: $accent-color;
    }

    .fav-buttons {
      float: right;
      margin: 0 10px;
    }
  }
}
